* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
p {
  font-family: "Literata", serif;
}

:root {
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
  --color-primary: #000;
  --color-dark: #1B1B1D;
  --color-title: #7A7A7A;
  --color-subtitle: #003865;
  --color-background1: #5F8DB5;
  --color-principal: #FA4616;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  flex: 1;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: #5F8DB5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 30px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo__secretos {
  width: 220px;
  height: 150px;
  margin-top: -20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -120px;
  margin-right: 140px;
}

.title h1 {
  font-size: 40px;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
}

.search{
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border-style: double;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin-left: 720px;
  margin-top: -120px;
  border: 2px solid #003865;
  position: relative;
  color: #000;
}

/* switch settings  */
[data-theme="dark"] {
  /* Colores del tema oscuro */
  --background-color: #121212;
  --text-color: #fff;
  --header-background: #1F2937;
  /* ... otros colores oscuros ... */
}

.ui-switch {
  /* switch */
  --switch-bg: #D7D2CB;
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: #FA4616;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--circle-bg);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  margin-left: 980px;
  margin-top: -75px;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  position: absolute;
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #D7D2CB;
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch {
  display: inline-block;
  position: relative;
}

.ui-switch input {
  display: none;
}

.ui-switch .slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ui-switch .slider .circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.ui-switch input:checked + .slider {
  background-color: #000;
}

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.input {
  width: 130px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  color: var(--color-text);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 18px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: var(--color-subtitle);
}

.micIcon {
  width: 15px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: var(--color-principal);
}

.micIcon path {
  fill: var(--color-text);
}

.micButton:hover {
  background-color: #FF714B;
  transition-duration: .3s;
}
.menu-icon {
  cursor: pointer;
  font-size: 30px;
  margin-left: -990px;
  margin-top: -140px;
  display: flex;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  margin-left: 990px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

main {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.iframe__video {
  margin-left: -20px;
  margin-top: -10px;
  width: 1400px;
  height: 500px;
  
}

.icons__fundacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -520px;
  left: -160px;
}

.slider-btn {
  position: relative;
  background-color: var(--color-principal);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 10px;
  z-index: 2;
  margin-left: 700px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.slider-btn1 {
  position: relative;
  background-color: var(--color-principal);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 10px;
  z-index: 2;
  margin-left: -100px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.slider-btn:hover, .slider-btn1:hover {
  background-color: #FF714B;
  color: var(--scrollcolor);
}

main .object img {
  width: 500px;
  height: 320px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
}

.section__alianza {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.object {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    z-index: 1;
}

.object img {
  width: 500px;
  height: 320px;
  float: left;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  margin: 0 30px;
}

.object__text {
  width: 420px;
  overflow: hidden;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px black;
  border: 2px solid #003865;
  border-radius: 10px;
}

.object:hover .object__text {
  opacity: 1;
}

.object__text h2 {
  color: #003865;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.object__text p {
  margin: 10px 0 0;
  color: #333;
  line-height: 1.5;
}

.accesibility {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: -10px;
  z-index: 1;
  margin-bottom: 40px;
}

.accesibility__text {
  width: 420px;
  overflow: hidden;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px black;
  border: 2px solid #003865;
  border-radius: 10px;
  z-index: 1;
}

.accesibility__text h2 {
  color: #003865;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.accesibility__text p {
  margin: 10px 0 0;
  color: #333;
  line-height: 1.5;
}

.accesibility img {
  width: 500px;
  height: 320px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  margin: 0 30px;
  position: relative;
  z-index: 0;
}

.accesibility:hover .accesibility__text {
  opacity: 1;
}

main .accesibility img {
  width: 500px;
  height: 320px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
}

.accesibility:hover .accesibility__text {
  opacity: 1;
}

.services {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px; 
  margin-bottom: 60px;
}

.services .h2 {
  color: #003865;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600; 
  margin-bottom: 10px;
}

.services__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.services__imgs--text {
  border-radius: 10px;
  margin: 10px; 
  border: 2px solid black;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.6s ease;
  flex: 1 1 calc(40% - 40px); 
  max-width: calc(30% - 40px); 
  background-color: var(--background-color);
  color: var(--text-color);
}

.services__imgs--text:hover {
  transform: scale(1.1);
}

.services__imgs img {
  width: 100%;
  height: auto;
}

.description {
  padding: 18px;
  border: 2px solid black;
  background-color: #003865;
  color: white;
}

.description:hover {
  background-color: #D7D2CB;
  color: black;
}

.description h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.description p {
  font-size: 16px;
}

.recommended {
  text-align: center;
  background-color: #D7D2CB;
  border-radius: 10px;
  padding: 50px;
}

.recommended h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #003865;
  background-color: white;
  margin-top: -75px;
  margin-left: 370px;
  border-radius: 10px;
  padding: 6px;
  width: 320px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  position: relative;
  width: 300px;
  height: 400px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.favorite {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.favorite i {
  font-size: 20px;
  color: #FFD700; 
}

.read-button {
  background: #FA4616;
  text-decoration: none;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.read-button:hover {
  background: #FF714B;
}

.section__alianza {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.slider__nav a, i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.slider__button--servicios {
  border: 0;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  background: white;
  display: flex;
  align-items: center;
  color:  #003865;
  width: 300px;
  padding: 10px;
  line-height: 1;
  pointer-events: auto;
  transition: 0.2s ease-out;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

.img__buscar {
  width: 400px;
  height: 250px;
  margin-left: 900px;
  margin-top: -300px;
}

.img__libros {
  width: 400px;
  height: 220px;
  margin-top: -600px;
}

.carousel-container {
  width: 100%;
  margin-bottom: 30px;
}

.carousel-container h2 {
  color: #003865;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.carousel-container p{
  text-align: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 20%;
  box-sizing: border-box;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 100px;
  display: block;
  border-radius: 10px 10px 0 0;
}

.carousel-item span {
  display: block;
  padding: 10px;
  color: white;
  border-radius: 0 0 10px 10px;
}

.carousel-button {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background: var(--color-background1);
  padding: 50px 60px 220px 100px;
  margin: 0;
  overflow: hidden;  
}

.content-footer {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.content-foo {
  text-align: center;
}

.content-foo h4{
  color: white;
  border-bottom: 3px solid #d8d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.content-foo p {
  color: white;
  font-family: "Literata", serif;
  font-size: 18px;
}

.footer--img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  margin-left: 930px;
  margin-bottom: 40px;
}

.footer--img img {
  width: 100px;
  height: 100px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.title-finish {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a i {
  color: #ffffff;
  margin: 6px;
  font-size: 25px;
}

.icons a i:hover {
  color: #ccc;
}

/*Media querys*/

@media (hover: hover) {
  .object:hover .object__text {
    opacity: 1;
  }
}

/* Para tablets */
@media screen and (max-width: 768px) {
  /* Ajustes para tablets */
  .logo__secretos {
    width: 220px;
    height: 150px;
    margin-right: 20px;
  }

  .title {
    margin-top: 17px;
    margin-right: 80px;
  }

 h1{
    font-size: 10px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .show {
    display: block;
  }

  .iframe__video {
    width: 110%;
    height: 300px;
  }

  .icons__fundacion {
   left: 0;
   top: 0;
   display: flex;
   flex-wrap: wrap;
  }

  .icon-ERA {
    margin-bottom: 10px;
    left: 10px;
  }

  .section__alianza {
    flex-direction: column;
  }

  main .object img {
    width: 329px;
    height: 400px;
    margin-bottom: 30px;
}

main .accesibility img {
  width: 329px;
  height: 400px;
}

  .object__text {
  width: 329px; /* Ajustado para dispositivos m贸viles */
  height: 395px;
  overflow: hidden;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px black;
  border: 2px solid #003865;
  border-radius: 10px;
  }

  .accesibility__text {
    width: 329px; /* Ajustado para dispositivos m贸viles */
    height: 350px;
    overflow: hidden;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px black;
    border: 2px solid #003865;
    border-radius: 10px;
    }

  .object__text.visible {
    opacity: 1;
  }

  .img__buscar {
    display: none;
  }

  .img__libros {
    width: 415px;
    height: 164px;
    margin-top: -103px;
}

  .services__imgs--text {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }

  .recommended h2 {
    margin-top: -75px;
    margin-left: -20px;
    width: 316px;
}

  .gallery {
    flex-wrap: wrap;
  }

  .gallery-item {
    width: calc(50% - 10px);
  }

  .carousel-item {
    min-width: 50%;
  }

  footer {
    padding: 60px 0px 470px 0px;
  }

  .content-footer {
    flex-direction: column;
    align-items: center;
  }

  .content-foo {
    margin-bottom: 20px;
  }

  .footer--img {
    margin-top: -80px;
  }

  .title-finish {
    font-size: 20px;
  }
}

/* Para m贸viles */
@media screen and (max-width: 480px) {
  /* Ajustes para m贸viles */
  .title h1 {
    font-size: 24px;
  }

  .search, .slider, .menu-icon {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

    .recommended h2 {
      margin-left: 2px;
  }

  .iframe__video {
    height: 200px;
  }

  .services__imgs--text {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .gallery-item {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .logo__secretos {
     width: 150px;
     height: 100px;
     margin-top: -10px;
   }
  .title {
     margin-top: -80px;
     margin-right: 80px;
   }
  .title h1 {
     font-size: 30px;
   }
 }



