*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.4;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-color: var(--background-color, #ffffff);
    width: 100%;
}

/*Header*/
.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #5F8DB5;
    margin-bottom: 6%;
    width: 100%;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .image-logoh {
    width: 100%;
    max-width: 300px;
  }

  h1{
    color: #fff;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  
  /*Desde aqui es el switch*/
  [data-theme="dark"] {
  /* Colores del tema oscuro */
  --background-color: #171515;
  }
  
  .ui-switch {
    align-items: center;
    margin-left: 8%;
    /* switch */
    --switch-bg: #D7D2CB;
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: #FA4616;
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    }
    
    .ui-switch input {
    display: none;
    }
    
    .slider {
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    }
    
    span, .slider .circle {
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
    }
    
    .slider .circle::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #D7D2CB;
    border-radius: inherit;
    transition: all 500ms;
    opacity: 0;
    }
    
    /*Acciones del switch*/
    .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    }
    
    .ui-switch input:active+.slider .circle::before {
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
    }
  
  ul {
    list-style: none;
    text-align: center;
  }
  
  .menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #D7D2CB;
    color: #000000;
    font-size: 200%;
    width: auto;
    border-radius: 30px;
    padding: 4px 10px;
    position: relative;
    cursor: pointer;
    left: -15%;
  }
  
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    transform: translateX(-15%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    background-color: #5F8DB5;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
  }
  
  .main-menu.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .main-menu li {
    margin: 10px 0;
  }
  
  .main-menu li a {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    border-radius: 30px;
    font-family: "Literata", serif;
    font-size: 70%;
    text-decoration: none;
    width: 100%;
    border-radius: 30px;
    margin-top: 60%;
  }
  
  a {
    text-decoration: none;
  }

/* Estilos generales */
.seccion-perfil-usuario, .perfil-usuario-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.perfil-usuario-header {
    width: 100%;
    margin-top: -7%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#5F8DB5, transparent);
    margin-bottom: 1.25rem;
}

.perfil-usuario-portada {
    position: relative;
    width: 80%;
    height: 17rem;
    border-radius: 0 0 20px 20px;
    background-size: cover;
    background-position: center;
    background-image: url(/Recursos/img/img_log/fondo.jpg);
}

.boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.perfil-usuario-avatar {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-usuario-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-image: url(/Recursos/img/img_log/iconodeusuario.jpg);
}

.boton-avatar {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 45px;
    height: 45px;
    border: 0;
    background-color: #d7d2cb;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 12px rgb(255, 255, 255);
}

.perfil-usuario-body {
    display: flex;
    width: 85%;
    max-width: 700px;
    background-color: #d7d2cb;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.username{
    color: #003865;
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15%;
    z-index: 1000;
}

.texto {
    font-family: "Literata", serif;
    color: #000;
    font-size: 17px;
    margin-top: 10%;
    margin-bottom: -10%;
    text-align: center;
}

.presentation{
    text-align: center;
    font-size: 15px;
}

.editar-boton{
    margin-top: 10%;
}

.editar-datos {
    margin-top: -10%;
}

.lista-datos {
    width: 100%;
    margin-top: 15%;
}

.lista-datos li {
    display: flex;
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #003865;
    font-size: 1em;
    margin-bottom: 10px;
}

.lista-datos i {
    font-size: 1.2rem;
    color: #003865;
    margin-right: 0.5rem;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

p{
    color: #000000;
    font-family: "Literata", serif;
}

.boton-redes {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.boton-redes.facebook {
    background-color: #0952ee;
    text-align: center;

}

.boton-redes.instagram {
    background: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
    text-align: center;
}

.boton-redes.youtube {
    background-color: #ff0800;
    text-align: center;
}


.fa-facebook-f::before {
    content: "";
    text-align: center;
    font-size: 20px;
    
}


.fa-youtube:before {
    content: "\f167";
    text-align: center;
    font-size: 20px;
}

.icon-youtube, 
.icon-instagram,
.icon-facebook{
    font-size: 37px;
}


.section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 2%;
}

.contenedor-favoritos-notas {
    width: 85%;
    max-width: 700px;
    background-color: #d7d2cb;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 5%;
}

.text-save{
    color: #003865;
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    margin-bottom: 3%;
}

.libro-guardado-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); 
    grid-gap: 5px; 
}

.book-item{
    height: 90px;
    background-color: rgb(247, 245, 232);
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    border: 2px var(--color-background1) solid;
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-image{
    display: none;
}

.book-title{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Ajusta la altura según tus necesidades */
    margin: 10px; /* Espaciado entre botones si es necesario */
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 4% 3%;
    color: #ffffff;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    background-color: #FA4616;
    border: none;

}

button:hover {
    background-color: #ff714b;
}

.agregar-nota-btn {
    margin-top: -20%;
    padding: 4% 1%; /* Ajusta estos valores según sea necesario */
}

.boton-avatar:hover {
    background-color: #003865;
}

.boton-portada:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

select {
    font-family: "Literata", serif;
    background-color: field;
    border: none;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border-image: initial;
    border-radius: 5px;
}

.notas-container h2 {
    color: #003865;
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    margin-top: 10%;
}

.notas-container ul {
    list-style: none;
    padding: 0;
}

.notas-container ul li {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    font-family: "Literata", serif;
}

.notas-container textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    font-family: "Literata", serif;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(131, 130, 130, 0.548);
}

.modal-content {
    background-color: #5F8DB5;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #fffbfb;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*footer*/
.footer {
    grid-area: footer;
    background-color: #5F8DB5;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
    }
    
    .footer-content {
    flex-direction: column;
    }
    
    .footer-section {
    margin: 10px;
    text-align: center;
    }
    
    .footer-section h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    position: relative;
    }
    
    .footer-section p {
      font-size: 20px;
      color: #fff;
      font-family: "Literata", serif;
      font-weight: lighter;
    }
    
    .line1{
    width: 120px;
    height: 3px;
    background-color: #D7D2CB;
    margin: 2px auto 6px;
    }
    
    .line2{
    width: 210px;
    height: 3px;
    background-color: #D7D2CB;
    margin: 2px auto 6px;
    }
    
    .line3{
    width: 140px;
    height: 3px;
    background-color: #D7D2CB;
    margin: 2px auto 6px;
    }
    
    .footer-bottom h2{
    color: #fff;
    margin-top: 2px;
    border-top: 1px solid #ffffff;
    padding-top: 5px;
    font-size: 20px;
    }
    
    a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    }
    
    .icons-foo{
    margin-top: 0.5%;
    }

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6%;
        width: 100%;
    }
  
    .header-content {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
    }
  
    .header-icons {
        order: 2;
        margin-left: auto;
    }

    h1{
        display: none;
      }

    .ui-switch{
        right: 40%;
    }

    .menu-icon{
        margin-left: -230%;
        width: 20%;
        margin-top: 0.5%;
        padding: 10% 70%;
    }

    .main-menu li a{
        background-color: #fff;
    }

    .agregar-nota-btn {
        padding: 2% 1%; /* Ajusta estos valores según sea necesario */
    }

    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
      }
    
      .footer-section{
        flex: 1;
        min-width: 200px;
        margin: 15px;
        margin-bottom: 3%;
      }

}

@media (min-width: 500px) {
    .book-image{
        display: inline;
        width: 120px;
        height: 160px;
        object-fit: cover;
        border: 2px #003865 solid;
        border-radius: 10px;
    }
    
    .libro-guardado-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
        grid-gap: 10px;
    }

    .book-item{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-title{
        color: #000000;
        font-size: 15px;
    }

    .main-menu{
        background-color: #5F8DB5;
        transform: translateX(-14%);
    }

    .agregar-nota-btn {
        margin-top: -10%;
        padding: 2% 1%; /* Ajusta estos valores según sea necesario */
    }
}
