* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-h1: #7A7A7A;
  --color-subtitle: #003865;
  --color-background1: #5F8DB5;
  --color-principal: #FA4616;
}

h1 {
  display: flex;
  justify-content: center;
  /* Centra el texto horizontalmente */
  text-align: center;
  /* Fuente personalizada */
  font-family: "Be Vietnam Pro", sans-serif;
  /* Grosor de la fuente */
  font-weight: 700;
  /* Tamaño de la fuente */
  font-size: 290%;
  /* Márgenes para ajustar la posición */
  max-width: 1200px;
  margin-left: 3%;
}
  
  h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  color: var(--color-subtitle);
  font-size: 200%;
  margin-top: 2%;
}
  
  p {
  font-family: "Literata", serif;
  text-align: center;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: -3%;
}

body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas: 
      "header"
      "main" 
      "section"
      "footer";
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
  max-width: 13000px;
  margin: 0 auto;
} 

.grid-container > * {
  padding: 0;
  text-align: center;
}

/*Header*/
.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40%;
  width: 100%;
  background-color: var(--color-background1);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-icons {
  display: flex;
  align-items: center;
}

.image-logoh {
  width: 100%;
  max-width: 300px;
}

/*Desde aqui es el switch*/
[data-theme="dark"] {
  --background-color: #171515;
  --text-color: #ffffff;
  }
  
  h1, h2 {
  color: var(--text-color, #003865);
  }
  
  .ui-switch {
    align-items: center;
    margin-top: 2%;
    margin-left: -5%;
    /* switch */
    --switch-bg: #D7D2CB;
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: #FA4616;
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    }
    
    .ui-switch input {
    display: none;
    }
    
    .slider {
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    }
    
    span, .slider .circle {
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
    }
    
    .slider .circle::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #D7D2CB;
    border-radius: inherit;
    transition: all 500ms;
    opacity: 0;
    }
    
    /*Acciones del switch*/
    .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    }
    
    .ui-switch input:active+.slider .circle::before {
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
    }

.user-icon {
  margin-left: 10px;
}

.user-icon i {
  border-radius: 50%;
  background-color: #D7D2CB;
  padding: 25%;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  text-align: center;
}

.menu-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #D7D2CB;
  color: #000000;
  font-size: 200%;
  width: auto;
  border-radius: 30px;
  padding: 4px 10px;
  position: relative;
  cursor: pointer;
  margin-left: 50%;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  background-color: #D7D2CB;
  border-radius: 10px;
  padding: 10px;
  z-index: 1001;
}

.main-menu.visible {
  visibility: visible;
  opacity: 1;
}

.main-menu li {
  margin: 10px 0;
}

.main-menu li a {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000000;
  padding: 8px;
  border-radius: 30px;
  font-family: "Literata", serif;
  font-size: 70%;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*Desde aqui es el buscador*/
.search{  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
  height: 40px;
  margin: 1px auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 7px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--color-subtitle);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input{
  width: 70px;
  border: none;
  outline: none;
  font-size: 0.9em;
  color: #7A7A7A;
  }
  
  .labelforsearch{
  cursor: text;
  padding: 0px 12px;
  }
  
  .searchIcon{
  width: 17px;
  margin-left: -10%;
  }
  
  .border{
  height: 24px;
  width: 2px;
  margin-left: -1px;
  background-color: var(--color-subtitle);
  }
  
  .micIcon{
  width: 14px;
  margin-left: 80%;
  }
  
  .micButton{
  border: none;
  background: none;
  cursor: pointer;
  }
  
  .searchIcon path{
  fill: var(--color-principal);
  }
  
  .micIcon path{
  fill: #000000;
  }

/*Section videos*/
.videos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 13px;
  background-color: #ffffff00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  width: 80%;
  max-width: 1248px; /* Ajusta el ancho máximo según tu diseño */
}

.video-container {
  position: relative;
  background-color: #ffffff;
  box-shadow: none;
  border: 6px solid #003865;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 33px;
  margin-top: 20px;
}


/*footer*/
.footer {
  grid-area: footer;
  background-color: var(--color-background1);
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  }
  
  .footer-content {
  flex-direction: column;
  }
  
  .footer-section {
  margin: 10px;
  text-align: center;
  }
  
  .footer-section h2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
  }
  
  .footer-section p {
    font-size: 18px;
  }
  
  .line1{
  width: 120px;
  height: 3px;
  background-color: #D7D2CB;
  margin: 2px auto 6px;
  }
  
  .line2{
  width: 210px;
  height: 3px;
  background-color: #D7D2CB;
  margin: 2px auto 6px;
  }
  
  .line3{
  width: 140px;
  height: 3px;
  background-color: #D7D2CB;
  margin: 2px auto 6px;
  }
  
  .footer-bottom h2{
  color: #fff;
  margin-top: 2px;
  border-top: 1px solid #ffffff;
  padding-top: 5px;
  font-size: 20px;
  }
  
  a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 0.5%;
  margin-top: 0.5%;
  }
  
  .icons-foo{
  margin-top: 0.5%;
  }
  
main {
  margin-top: 30px;
  flex: 10;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color, #ffffff);
}

/* Título del video */
.video-title {
padding: 5px; /* Espaciado interno del título */
font-size: 19px; /* Tamaño de fuente */
font-weight: bold; /* Texto en negrita */
color: #003865; ; /* Color del texto */
text-align: center; /* Texto centrado */
margin-bottom: 0; /* Elimina el margen inferior */
}

/* Efecto de aumento y sombra al pasar el cursor */
.video-container:hover {
transform: scale(1.05); /* Aumenta el tamaño en un 5% */
box-shadow: 0 8px 16px rgb(255, 255, 255); /* Añade sombra más pronunciada */
z-index: 1; /* Asegura que esté por encima de los íconos de redes sociales */
}

/* Estilos para los iframes */
iframe {
width: 100%; /* Ancho del 100% del contenedor */
height: 200px; /* Altura fija del iframe */
border: none; /* Sin borde alrededor del iframe */
}

/* Estilos para los íconos de redes sociales */
.social-icons {
position: absolute; /* Posición absoluta */
bottom: 10px; /* Distancia desde el borde inferior */
left: 50%; /* Alinea los íconos en el centro */
transform: translateX(-50%); /* Centra los íconos horizontalmente */
display: flex; /* Utiliza flexbox para alinear los íconos */
justify-content: center; /* Centra los íconos horizontalmente */
width: 100%; /* Ancho completo */
z-index: 2; /* Asegura que esté por encima del contenedor de video */
}

.social-icons a {
color: var(--color-principal); /* Color inicial de los íconos */
font-size: 24px; /* Tamaño de fuente de los íconos */
margin: 0 5px; /* Espaciado entre los íconos */
transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.social-icons a:hover {
color: #ff714b; /* Cambia el color al naranja al pasar el cursor */
}


@keyframes sparkle {
0% {
transform: translateY(0) rotate(0deg);
opacity: 1;
}
100% {
transform: translateY(-100vh) rotate(720deg);
opacity: 0;
}
}



/* Estilos para el footer */




@media (min-width: 780px) {
  .grid-container {
    grid-template-areas: 
        "header header"  
        "main main"
        "section section"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
} 


.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}

.image-logoh{
  order: 1;
}

.header-icons {
    order: 3;
    margin-left: auto;
    margin-right: 2%;
}

.search {
  width: 100%;
  position: absolute;
  right: 20px;
  transform: translateX(-51%);
  
}

main, .videos, .footer {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
  }

  .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-section{
    flex: 1;
    min-width: 200px;
    margin: 15px;
    margin-bottom: 5%;
  }


  
}