*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "header header header"
  "sidebar main main"
  "sidebar section content"
  "footer footer footer";
  }

:root {
  --color-h1: #7A7A7A;
  --color-subtitle: #003865;
  --color-background1: #5F8DB5;
  --color-principal: #FA4616;
}

h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 250%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: -1%;
  color: var(--color-h1);
}

h1:hover{
  color: var(--color-principal);
}

h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 150%;
  text-align: center;
}

p {
  font-family: "Literata", serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 2%;
}

body{
  padding-left: 80px;
  background-color: var(--background-color, #ffffff);
  color: var(--text-color, #000000);
}

/*Desde aqui es el header*/
header{
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  background-color: #fff;
  padding: 0% 5%;
  margin-left: 0px;
  z-index: 1000;
  background-color: var(--header-background, #ffffff);
}

.box-books{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.image-logoh{   /*Imagen del logo*/
  height: 100px;
  width: auto;
  margin-left: -20%;
}

.title-header h1{
  text-align: center;
  white-space: nowrap;
}

/*Desde aqui es el switch*/
[data-theme="dark"] {
  /* Colores del tema oscuro */
  --background-color: #000000;
  --color-title: #ffffff;
  --header-background: #000000;
  /* ... otros colores oscuros ... */
}

.ui-switch {
  align-items: center;
  margin-left: 10%;
  /* switch */
  --switch-bg: #D7D2CB;
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: #FA4616;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.ui-switch .slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #D7D2CB;
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/*Acciones del switch*/
.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/*Desde aqui es el icono de usuario*/
.user-icon{
  display: flex;
  align-items: center;
}

.user-icon i {
  border-radius: 50%;
  background-color: #D7D2CB;
  padding: 25%;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}
 
i:hover .usertip{       /*Aqui esta el hover del nombre del icono de usuario*/
  visibility: visible;
  opacity: 1;
}

.usertip{
  visibility: hidden;
  position: absolute;
  background-color: var(--color-principal);
  font-family: "Be Vietnam Pro", sans-serif;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-left: -3.4%;
  font-size: 70%;
  opacity: 0;
  transition: opacity 0.3s;
}

/*Desde aqui es el nav, la barra azul*/
nav.sidebar{  
  position: fixed; 
  top: 0px; 
  left: 0;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background1);
  border-top-right-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul{
  list-style: none;
  text-align: center;
}

.menu-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--color-subtitle);
  font-size: 220%;
  position: relative;
  border-radius: 30px;
  padding: 10% 70%;;
  margin-left: -15%;
  margin-top: 100%;
}

.main-menu{
  position: absolute; 
  top: calc(100% + 10px);
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.main-menu li{
  break-inside: avoid;
}

.main-menu li a{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  color: var(--color-subtitle);
  padding: 8px;
  border-radius: 30px ;
  margin-top: 60%;
  font-family: "Literata", serif;
  font-size: 70%;
  text-decoration: none;
}

.main-menu.visible{
 visibility: visible;
 opacity: 1;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: var(--color-principal);
  font-family: "Be Vietnam Pro", sans-serif;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 65%;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateX(-50%);
  left: 50%;
}

i:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltips{
  visibility: hidden;
  position: absolute;
}

a{
  text-decoration: none;
}

.img-container{
  margin-bottom: 20%;
}

/*Aqui enpieza el contenido de los libros*/
main{
  margin-top: 0%;
}

.image-banner{
  width: 100%;
  position: relative;
  display: inline-block;
}

.image-books{
  width: 13%;
  float: right;
  margin-right: 1%;
  position: relative;
  margin-bottom: -8%;
}

/*Aqui empiezan las categorias*/
.category-container{
  background-color: var(--color-background1);
  padding: 0.1%;
  width: 65%;
  margin-left: 18%;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 1.5px var(--color-subtitle) solid;
}

.text-category{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 200%;
  text-align: left;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: -3%;
}

ul{
  list-style: none;
  text-align: center;
}

.icon-menu{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  border-radius: 170px;
  background-color: #fff;
  color: var(--color-subtitle);
  font-size: 200%;
  padding: 1%;
  position: relative;
  margin-left: 84%;
  margin-top: -3%;
  margin-bottom: 1%;
}

.list-cate{
  position: absolute;
  background-color: rgba(95, 141, 181, 0.626);
  padding: 10px;
  border-radius: 30px;
  border: 1px var(--color-subtitle) solid;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  column-count: 2;
  column-gap: 10px;
  z-index: 1;
  visibility: visible;
  opacity: 0;
}

.list-cate li{
  display: inline-block;
  margin-right: 10px;
  padding: 2px 10px;
  background-color: var(--color-subtitle);
  border: 2px #fff solid;
  border-radius: 30px;
  margin-top: 3%;
}

.list-cate li:last-child{
  margin-right: 0;
}

.list-cate li{
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0px 8px;
  font-family: "Literata", serif;
  font-size: 55%;
  text-decoration: none;
}

.list-cate li:hover{
  background-color: #256aa2;
  border-radius: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

/*Desde aqui es el buscador*/
.search{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 7px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border-style: solid;
  border-radius: 10px;
  border-color: #7A7A7A;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.search-input{
  width: 1500px;
  border: none;
  outline: none;
  font-size: 0.9em;
  color: #7A7A7A;
}

.labelforsearch{
  cursor: text;
  padding: 0px 12px;
}

.searchIcon{
  width: 18px;
  margin-left: -20%;
}

.border{
  height: 24px;
  width: 15px;
  background-color: var(--color-subtitle);
}

.micIcon{
  width: 15px;
  margin-left: 100%;
}

.micButton{
  border: none;
  background: none;
  cursor: pointer;
}

.searchIcon path{
  fill: var(--color-principal);
}

.micIcon path{
  fill: #000000;
}

.img-kids{
  width: 30%;
  float: right;
  border-radius: 20px;
  margin-top: -14%;
  margin-right: 1%;
}

/*Seccion de los libros*/
.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-gap: 20px; 
}

.book-item{
  height: 390px;
  background-color: rgb(247, 245, 232);
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
  border: 2px var(--color-background1) solid;
  margin-bottom: 15px; 
  margin-left: 3%;
  margin-right: 3%;
}

.book-image{
  width: 90%;
  height: 70%;
  margin-left: 5%;
  border-radius: 10px;
}

.book-title{
  font-size: 15px;
  color: #000000;
  margin-top: 5%;
  margin-bottom: 2%;
}

a{
  text-decoration: none;
  color: inherit;
}

.book-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.download-link,
.read-link,
.listen-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  width: 50%;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family:  "Be Vietnam Pro", sans-serif;
  font-weight: 410;
  background-color: var(--color-principal);
  transition: background-color 0.3s ease;
}

.download-link,
.read-link{
  margin-top: 4%;
}

.download-link{
  margin-left: -2%;
}

.read-link{
  margin-left: 2%;
}

.listen-link{
  margin-left: 25%;
}

.download-link i,
.read-link i,
.listen-link i {
  margin-right: 8px; /* Agrega un margen derecho de 5px al icono */
}

.download-link:hover,
.read-link:hover,
.listen-link:hover {
  background-color: #ff714f;
}

/*Footer*/
.img-boy{
  position: relative;
  float: left;
  width: 10%;
  margin-top: 4%;
  margin-left: -8%;
  z-index: 1;
}

footer {
  background-color: var(--color-background1);
  color: white;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer-section {
  margin: 10px 20px;
  text-align: center;
}

.footer-section h2 {
  margin-bottom: 10px;
  font-size: 15px;
  position: relative;
}

.line1{
  width: 120px;
  height: 2px;
  background-color: white;
  margin: 2px auto 6px;
}

.line2{
  width: 210px;
  height: 2px;
  background-color: white;
  margin: 2px auto 6px;
}

.line3{
  width: 140px;
  height: 2px;
  background-color: white;
  margin: 2px auto 6px;
}

.footer-bottom {
  margin-top: 2px;
  border-top: 1px solid #ffffff;
  padding-top: 5px;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 0.5%;
  margin-top: 0.5%;
}

.icons-foo{
  margin-top: 0.5%;
}

@media (max-width: 600px) {
  .footer-content {
      flex-direction: column;
  }
}

